body {
    font-family: 'Input Mono', monospace;
    font-size: 14px;
}

.code {
    width: 100%;
    height: 50%;
    display: block;
    position: relative;
}

.maze {
    width: 100%;
    height: 50%;
    display: block;
    position: relative;
}

.cell {
    float: left;
    display: block;
    position: relative;
    box-shadow: 0 0 0 0.5px #000 inset;
}

.none {
    box-shadow: none;
}

.open {
    background: sandybrown;
}

.brick {
    background: brown;
}

.portal {
    background: dodgerblue;
}

.gem:after {
    content: ' ';
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 25%;
    left: 25%;
}

.character {
    position: absolute;
    display: block;
}

.character:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border: solid transparent;
    border-width: 2em;
}

.character.right:after {
    margin-left: -1em;
    margin-top: -2em;
    border-left-color: black;
}

.character.left:after {
    margin-left: -3em;
    margin-top: -2em;
    border-right-color: black;
}

.character.bottom:after {
    margin-left: -2em;
    margin-top: -1em;
    border-top-color: black;
}

.character.top:after {
    margin-left: -2em;
    margin-top: -3em;
    border-bottom-color: black;
}